/* header */

.top-section {
  font-family: Arial;
  margin-top: -22px;
  margin-left: -10px;
  margin-right: -10px;

}

.navbar{
  text-decoration: none;

  position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    /* will-change: transform; */
    background-color: white;
}

.nav-first-section,
.nav-second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-first-section {
  padding-top: 15px;
  margin-bottom: 10px;
}

.nav-second-section {
  padding-bottom: 15px;
}

.child {
  display: flex;
  justify-content: space-between;
  width: 650px;
  margin-left: -140px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 15px;
  margin-left: 10px;
}

.child>a {
  color: #202340;
}

.logo {
  width: 10%;
}

.logo>img {
  width: 100%;
  cursor: pointer;
}

.humbergar-div,
.logo {
  margin-left: 25px;
}

.humbergar-div {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.child-second-section,
.second-logo {
  margin-right: 25px;
}

.child-second-section {
  width: 22%;
  display: flex;
  justify-content: space-between;
}


#mic{
padding-top: 12px;
font-size: 20px;
cursor: pointer;
}

a{
  text-decoration: none;
}

select+input {
  padding: 8px 17px;
  width: 100%;
  border: none;
  border-left: 1px solid black;
  font-size: 15px;
}
/* select+input:focus{
  border: hidden;
} */

  form {
      border: 1px solid black;
      border-radius: 50px;
      overflow: hidden;
      width: 100%;
      background: white;
      display: flex;
      flex-direction:row;
  }

  .input-section {
      display: flex;
      flex-direction: column;
      /* background: white; */
      width: 45%;
      margin-left: -8%;
  }

  .btn1 {
      background-color: #202340;
      margin-left: 18px;
      height: 45px;
      width: 30px;
      padding-right: 15px;
      border-radius: 0px 50px 50px 0px;
      cursor: pointer;
  }

.btn1>img {
  width: 75%;
}

.navbar {
  background: #f0f1f7;
  position: sticky;
  top: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;   
}

.child-second-section>a,
.humbergar-div>a {
  color: #202340;
}


.second-logo>img {
  color: white;
}

a:hover {
  color: #00a8ca
}

.btn1>img {
  color: white;
}

.top-section {
  background-color: #202340;
  color: white;
  text-align: center;
  padding: 7px;
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.child-second-section p {
  border: 1px solid black;
  width: 25%;
  border-radius: 50%;
  text-align: center;
}

.cart-section {
  position: relative;

}

.cart-section a {
  color: #202340;
}

.cart-count {
  position: absolute;
  top: -29px;
  left: 7px;
  background-color: white;
  font-size: 15px;
}

/* .....................................HAMBERGER-MENU........................................... */



#menu {
  width: 30px;
  height: 30px;
  margin: 0px 0 0px 25px;
  cursor: pointer;
  z-index: 100;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #202340;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav li a {
  color: #202340;
  text-decoration: none;
}

.nav li a:hover {
  border: 1px solid #fff;
  /* padding: 10px 20px; */
}

.nav li {
  list-style: none;
  padding: 16px 0;
  margin-left: 20px;
}

.nav h4 {
  margin-left: 20px;
  margin-top: 180px;
  margin-bottom: 10px;
}

.nav li:nth-child(2) {
  margin-left: 20px;
}

.nav {
  padding: 0;
  margin: 0 20px;
  transition: 1s ease;
  display: none;
}

.icon .bar {
  background-color: #202340;
}

.icon #bar1 {
  transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
  opacity: 0;
}

.change {
  background-color: #ffffff;
  height: 100vh;
  margin: 0;
  position: absolute;
  font-size: 15px;
  top: 0;
  z-index: -100;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* <!-- -=-=-=-=-=-=-=-=-=-=-=-=-Whole NavBar section Ended here=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= --> */

 /* navbar */

  /* csss jeans */
  *{
    color: #3e4052;
    font-family: system-ui;
    font-size: small;
  }
  #dusraDiv{
    font-family: 'Oswald';
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width:80%;
    align-items: center;
    padding: 20px;
    margin-left: auto;
  }
  #H2{
    margin-bottom: 10px;
    margin-left: 40px;
    font-weight: 900;
  }

  #features>div{
    margin-bottom: 15px;
    margin-left: 40px;
  }
  
  #dusraDiv img{
    width: 100%;
  }
  .off{
    margin-bottom: 10px;
    color:#00a8ca;
    font-weight: 700;
  }
 
  
  #dusraDiv>div>div{
    display: flex;
   justify-content: space-between; 
   }
  #dusraDiv>div{
    font-family: 'Oswald';
    border: 1px solid #dadbe6;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #dusraDiv>div:hover{
    scale: 0.99;
  }
  
  .btncart{
   background-color:#414467;
   border-radius: 20px;
   color: white;
   border: none;
  width:150px;
   padding: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  }
  .see_details{
    background-color:white;
    border-radius: 20px;
    color: black;
    border: 2px solid black;
   width:150px;
    padding: 10px 10px;
   cursor: pointer;
   font-weight: bold;
   } 
  
  .btncart:hover{
    background-color: #222440;
  }
  .see_details:hover{
    background-color: #222440;
    color: white;
  }
  
  .pricebox p:first-child{
    text-decoration: line-through;
    margin-top: 10px;
  } 
  .pricebox p:last-child{
    position: sticky;
    left:750px;
    font-size: x-larger;
    font-weight:bolder;
  }
  h2{
    margin-bottom: -20px;
    margin-right: 25px;
  }
  h3,p{
    padding: 0px;
    margin: 5px;
  }
  #main{
    display: flex;
    width:100%;
    height: 100px;
    
    /* border: 2px solid rgb(215, 29, 29); */
  }
  #pahlaDiv{
    width:20%;
    height:1200px;
    border: 1px solid #dadbe6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  #dusraDiv{
   width: 80%;
   
  }
    #upperwalaDiv{
     font-weight: 500px;
      width:100%;
      height: 70px;
      border: 1px solid #dadbe6;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
   
   #filterBestMatch {
     border-color: white;
    width: 162px;
    position: relative;
    right: -40px;
    top: 12px;
    padding: 6px;
    color: black;
    /* background-color: #f0f1f7; */
    font-size: small;
    font-weight: bold;
   
    /* background-color: ; */
    
  }
  #filterBestMatch:hover{
    background-color: #dadbe6;
  }
  #upperwalaDiv span {
    position: relative;
    right:-40px;
    top: 10px;
    
  }
  #OneCart{
    position: relative;
    left:50px;
    top: 10px;
      width: 27px;
      height: 27px;
      
  }
  #cart_upper img{
    position: relative;
    left:50px;
    top: 10px;
      width: 22px;
      height: 33px;
  }
  #realOneCart{
    position: relative;
    left:50px;
    font-weight: bold;
    /* font-size: larger; */
    color: black;
  }
  hr{
    margin-top: 20px;
   
    font-size:larger;
    color:#dadbe6 ;
  }
  #realOneCart2{
    position: relative;
    left:50px;
   
  }
  
  
  #feedbackid{
    width:80%;
    padding: 10px;
    background-color:#dadbe6  ;
    height: 450px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .feedback{
    width:80%;
    padding: 10px;
    border: 2px solid grey;
    height: 100px;
  }
  #feedback_btn_id{
    background-color:white;
    border-radius: 20px;
    color: black;
    border: 2px solid black;
   width:180px;
    padding: 5px 5px;
   cursor: pointer;
   font-weight: bold;
   margin-top: 20px;
   margin-left: 2px;
   /* font-size: larger; */
  }
  #feedback_btn_id:hover{
    background-color: #222440;
    color: white;
  }
  
  /* Dropdown Button */
  .dropbtn {
    width: 258px;
    padding: 16px;
    font-size: 20px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    /* background-color: #f1f1f1; */
    min-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  h2{
    padding: 10px;
  }
  .features{
    padding: 8px;
  }
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  

   /*navbar  */

   /* footer */

   
  

   /* Write all styles here  */
   @media only screen and (max-width: 1000px) {
    /* Medium Screen  */
  
   #dusraDiv{
    grid-template-columns: repeat(2, 1fr);
  
   } 
   #pahlaDiv{
    visibility: hidden;
   }
  }
  
  @media only screen and (max-width: 600px) {
    /* Small Screen  */
   
   #pahlaDiv{
    visibility: hidden;
   }
   #dusraDiv{
    grid-template-columns: repeat(1, 1fr);
   }
  }